.product-container-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.product-container {
    background: #3e4153;
    border: 1px solid #494c62;
    border-radius: .35rem;
    height: 85vh;
    width: 65vw;
    overflow-y: scroll;
    padding: 1rem;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.single-product {
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;
}

.text-container {
    color: floralwhite;
    margin-top: 1rem;
    margin-left: 1rem;
}

.product-description {
    margin-top: 1rem;
}




/*
#282a36
#333545
#3e4153
#494c62 
*/