@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


html {
    font-family: "Comfortaa";
}

body {
    padding-top: 7rem;
}


@media (max-width: 750px) {
    body{
        padding-top: 11rem;
    }
    
    .search {
        margin-left: 2rem
    }
}

/* 
#282a36
#333545
#3e4153
#494c62 
*/