@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



.nav-link {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    text-decoration: none;
    color: floralwhite;
    margin-left: 1rem;
}



/* 
#282a36
#333545
#3e4153
#494c62 
*/