.productDetails-container-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.productDetails-container {
    background: #3e4153;
    border: 1px solid #494c62;
    border-radius: .35rem;
    height: fit-content;
    width: 65vw;
    overflow-y: scroll;
    padding: 1rem;
    color: floralwhite;
}

.productDetails-container::-webkit-scrollbar {
    display: none;
}

.productDetails {
    display: flex;
}

.img-text-container {
    display: flex;
}

.productDetails-text {
    padding: 1rem;
    color: floralwhite;
}

.synopsis-container {
    margin-left: 1rem;
}

.addToCart {
    color: floralwhite;
    background: #333545;
    font-size: 1.15rem;
    border: 2px solid #494c62;
    border-radius: .25rem;
    padding: .5rem;
}

.addToCart:hover {
    color: #333545;
    background: floralwhite;
  }

/* 
#282a36
#333545
#3e4153
#494c62 
*/